<tr id=<?= absent.id ?>>
  <? id(role == "teacher"){ ?>
    <td colspan=<?= abcent.classes.length.stringify() ?>><?= absent.name ?></td>
  <? }else if(role == "admin"){ ?>
    <td colspan=<?= abcent.classes.length.stringify() ?>><?= absent.name ?><button class="btn btn-danger" type="button" onclick=""><i //TODO Add the logic for deleting an absent
      class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></button></td>
  <? } ?>
  <td><?= absent.classes[0].time ?></td>
  <td><?= absent.classes[0].group ?></td>
  <td><?= absent.classes[0].substitute ?></td>
</tr>
<? for(let i = 1; i < absent.classes.length; i++){ ?>
  <tr>
    <td><?= absent.classes[i].time ?></td>
    <td><?= absent.classes[i].group ?></td>
    <? if(role == "teacher"){ ?>
      <? if(absent.classes[i].substitute){ ?>
        <td><?= absent.classes[i].substitute ?></td>
      <? }else{ ?>
        <td><input type="checkbox"></td>
      <? } ?>
    <? }else if(role == "admin"){ ?>
      <td><?= absent.classes[i].substitute ?></td>
    <? } ?>
  <tr>
<? } >?
<tr>
  <td colspan="4" style="background: #2b90d9;"></td>
</tr>